<!-- Used in of  app/views/questions/_question_form.html.erb to display fields for editing options of a question (Dummy Comment)-->
<div class="col-md-6">
  <% correct_answer = qf.object.correct_answer.nil? ? @missing_correct_answer : qf.object.correct_answer %>
  <% is_correct = option == correct_answer %>
  <div 
    class="card p-3 shadow-sm answer-card <%= 'selected' if is_correct %>" 
    data-answer="<%= option %>" 
    data-action="click->quiz-editor#handleAnswerCardClick">
    
    <div class="d-flex justify-content-between align-items-center">
      <!-- Text field with right margin to create space before the delete button -->
      <%= text_area_tag "new_options[]", CGI.unescapeHTML(option), 
        class: 'form-control new-options', 
        placeholder: "Enter answer option...", 
        data: { action: "change->quiz-editor#handleAnswerCardChange" },
        style: 'flex-grow: 1; margin-right: 60px;' %> <!-- Increased right margin for more space -->
        
      <!-- Remove Option Button with a little space from the text field -->
      <button class="btn text-danger mt-2 position-absolute top-0 end-0 m-2 rounded-circle" 
        data-action="click->quiz-editor#removeOption" 
        <%= 'disabled' if is_correct %>
        style="<%= 'display: none;' if is_correct %>">
        <span class="btn-remove-x btn btn-danger">X</span>
      </button>
    </div>
  </div>
</div>





