<div class="question-card">
  <p><%= question.content %></p>
  <div class="answer-panel">
    <% JSON.parse(question.options).each do |option| %>
      <div class="answer-card <%= 'correct' if option == question.correct_answer %>">
        <%= option %>
      </div>
    <% end %>
  </div>

  <% if mode == :view %>
    <button data-turbo-frame="<%= dom_id(question) %>" 
            data-turbo-action="replace" 
            href="<%= edit_quiz_question_path(@quiz,question) %>">
      Edit
    </button>
    <%= button_to "Delete", quiz_question_path(@quiz,question), method: :delete, remote: true %>
  <% elsif mode == :edit %>
    <%= form_with model: [@quiz, question], local: false do |form| %>
      <%= form.text_area :content %>
      <div id="options-editor" data-controller="options-editor">
        <!-- Add fields dynamically with Stimulus -->
      </div>
      <%= form.hidden_field :options %>
      <%= form.hidden_field :correct_answer %>
      <%= form.submit "Save" %>
    <% end %>
  <% end %>
</div>
