<%= turbo_frame_tag dom_id(question) do %>
<div class="question-fields mb-4">
<p><%= question.content%></p>
<!-- Render each option as an Answer card -->
    <div class="row gx-3 gy-3">
        <% JSON.parse(question.options).each_with_index do |option, index| %>
        <div class="col-md-6">
            <div class="card p-3 shadow-sm answer-card <%= 'selected' if option == question.correct_answer %>">
                <%=option%>
            </div>
        </div>
        <% end %>
    </div>
    <!-- Buttons Row -->
    <div class="d-flex justify-content-between mt-3">
      <%= form_with model: [@quiz, question], method: :delete, local: true do %>
        <button type="submit" class="btn btn-lg btn-danger">Delete Question</button>
      <% end %>
      <%= link_to "Edit Question", edit_quiz_question_path(@quiz, question), data: { turbo_frame: dom_id(question) }, class: "btn btn-lg btn-primary" %>
    </div>
</div>
<% end %>