<%= form_with model: [@quiz, question], local: false do |question_form| %>
  <div class="question-fields mb-4">
    <%= question_form.text_area :content,  class: "form-control mb-3", placeholder: "Enter question...", value:  CGI.unescapeHTML(question.content.to_s), 
    <!-- Hidden Options Field and Options as answer cards -->
    <%= question_form.text_area :options, value: CGI.unescapeHTML(question.options), 
                                    class: "form-control options-field d-none", 
                                    rows: 4, placeholder: "Enter options as JSON..." %>

    <div class="row gx-3 gy-3 answer-cards">
      <% JSON.parse(question.options || @missing_options).each_with_index do |option, index| %>
        <%= render partial: 'questions/answer_card', locals: { qf: question_form, option: option, index: index } %>
      <% end %>
    </div>
    
    <div class="d-flex justify-content-center mt-3">
      <button type="button" class="btn btn-info" data-action="click->quiz-editor#addOption">Add Option</button>
    </div>
    <%= question_form.text_area :correct_answer, value: CGI.unescapeHTML(question.correct_answer.to_s), 
                                    class: "form-control correct-answer d-none", 
                                    rows: 4, placeholder: "Enter correct-answer..." %>
    <%= question_form.submit submit_label, class: "btn btn-lg btn-primary btn-save" %>  
  </div>
<% end %>
