<% if qf.is_a?(Question) %>
<%= form_with model: @quiz, id: "quiz-form", local: true, data: { turbo: false, quiz_id: @quiz.id } do |f| %>
  <% qf = f.fields_for(:questions,qf) %>
  <%end%>
<% end %>
  <div class="question-fields mb-4" data-id="<%= qf.index%>">

  <%= qf.text_field :content, class: "form-control mb-3", placeholder: "Enter question..." %>

  <!-- Hidden Options Field -->
  <div class="form-group d-none">
    <%= qf.text_area :options, class: 'form-control new-op', placeholder: "Enter options as JSON array of strings" %>
  </div>
  <p class="curr_options_json_array" hidden>
    <%= @options_json_array = JSON.parse(qf.object.options || '["option 1", "option 2"]') %>
  </p>

  <!-- Render each option as an Answer card with editable text -->
  <div class="row gx-3 gy-3">
    <% @options_json_array.each_with_index do |option, index| %>
      <%= render partial: 'questions/answer_card', locals: { qf: qf, option: option, index: index } %>
    <% end %>
  </div>

  <button 
    class="btn btn-link text-primary mt-2" 
    data-action="click->quiz-editor#addOption"
    data-options="<%= @options_json_array << 'new option' %>">
    Add Option
  </button>

  <button 
    class="btn btn-link text-danger mt-2" 
    data-action="click->quiz-editor#removeQuestion">
    Remove Question
  </button>
  <%= qf.hidden_field :correct_answer, class: "correct-answer" %>
  <%= qf.hidden_field :_destroy, class: "destroy-field" %>
</div>
