<!-- for rendering forms in section 2 and 3 of app/views/quizzes/edit.html.erb -->
<div class="question-fields">
  <%= question_form.label :content, "Question" %>
  <%= question_form.text_area :content, class: 'form-control' %>

  <%= question_form.label :correct_answer, "Correct Answer" %>
  <%= question_form.text_field :correct_answer, class: 'form-control' %>

  <%= question_form.label :options, "Options (comma-separated)" %>
  <%= question_form.text_field :options, class: 'form-control' %>

  <% if question_form.object.persisted? %>
    <%= question_form.check_box :_destroy %>
    <%= question_form.label :_destroy, "Remove question" %>
  <% end %>
</div>
