<% content_for :mathjax %>
<head>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %> 
  <%= stylesheet_link_tag "quiz-edit-styles", "data-turbo-track": "reload" %>

</head>

<div class="container py-5" data-controller="quiz-editor">
  <!-- Section 1: Quiz Properties -->
  <%= form_with(model: @quiz, local: true, data: { turbo: false, quiz_id: @quiz.id }) do |quiz_form| %>
    <div>

      <div id="quiz-properties-container" data-quiz-editor-target="quizProperties" class="collapsed">
        <!-- Quiz Topic -->
        <div class="form-group mb-3">
          <%= quiz_form.label :topic, class: "form-label fw-bold" %>
          <%= quiz_form.text_field :topic, class: 'form-control' %>
        </div>

        <!-- Quiz Difficulty -->
        <div class="form-group mb-3">
          <%= quiz_form.label :difficulty, class: "form-label fw-bold" %>
          <%= quiz_form.select :difficulty, Quiz.difficulties.keys.map { |w| [w.humanize, w] }, { include_blank: true }, class: 'form-control' %>
        </div>

        <!-- Study Duration -->
        <div class="form-group mb-3">
          <%= quiz_form.label :study_duration, "Study Duration (in minutes)", class: "form-label fw-bold" %>
          <%= quiz_form.number_field :study_duration, class: 'form-control', min: 1 %>
        </div>

        <!-- Detail Level -->
        <div class="form-group mb-3">
          <%= quiz_form.label :detail_level, class: "form-label fw-bold" %>
          <%= quiz_form.select :detail_level, Quiz.detail_levels.keys.map { |w| [w.humanize, w] }, { include_blank: true }, class: 'form-control' %>
        </div>

        <%= quiz_form.submit "Save Quiz details", class: "btn btn-lg btn-primary mt-3" %>
      </div>
    <% end %>
  </div>

  <!-- Section 2: View, Edit, or Delete questions currently belonging to Quiz -->
  <h3 class="mt-5 text-primary">Questions</h3>
  <%= render "question_count", quiz: @quiz %>

  <div id="questions-list">
    <%= turbo_frame_tag "questions_list" do %>
      <% @quiz.questions.each do |question| %>
        <%= render "questions/question", question: question, quiz: @quiz %>  
      <% end %>
    <% end %>
  </div>

  <!-- Section 3: Form for adding a new question to the quiz -->
  <div>
    <h3 class="mt-5 text-primary">New Question</h3>
    <%= turbo_frame_tag "new_question" do %>
      <%= render "questions/question_form", quiz: @quiz , question: @quiz.questions.build(content: "Enter Question Stem", correct_answer: "Correct Option", options: '["Correct Option", "An Incorrect Option"]'), submit_label: "Add Question to Quiz" %>
    <% end %>  
  </div>
</div>

<%= link_to "Back to Quiz", quiz_path(@quiz), class: "btn btn-gm mt-4" %>