<%= stylesheet_link_tag "index-styles", "data-turbo-track": "reload" %>

<div class="container">
  <% if user_signed_in? %>
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="display-3 fw-bold text-heading-gradient">Discover Your Next Quiz!</h1>
        <p class="text-muted">Search for topics you love, or explore our curated collection of quizzes.</p>
      </div>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-8 col-lg-6">
        <%= form_with url: quizzes_path, method: :get, class: "input-group search-bar" do |form| %>
          <%= form.text_field :query, placeholder: "Search for quizzes...", class: "form-control shadow-sm" %>
          <%= form.submit "Find Quiz", class: "btn btn-find-gradient btn-no-transform" %>
        <% end %>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <% @quizzes.each_with_index do |quiz| %>
        <div class="col">
          <div class="card shadow-sm quiz-card">
            <div class="card-body text-center">
              <h5 class="card-title">
                <%= link_to quiz.topic, quiz, class: "stretched-link text-decoration-none" %>
              </h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="row mt-5">
      <div class="col text-center">
        <%= link_to "Let Quizzo Fetch Your Quiz", new_quiz_path, class: "btn btn-lg btn-gradient shadow-sm" %>
      </div>
    </div>
  <% else %>

  <section id="title">

    <div class="container col-xxl-12 px-4 pt-5">
      <div class="row flex-lg-row-reverse align-items-center custom-gap pt-5">
        <div class="col-10 col-sm-8 col-lg-4">
          <%= image_tag 'corgi.png', class: 'd-block mx-lg-auto img-fluid', alt: 'Corgi', height: '200', loading: 'lazy', style: 'border-radius: 30px;' %>
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-gradient lh-1 mb-3">Welcome to PupQuiz! I am Quizzo</h1>
          <p class="text-muted">PupQuiz is a friendly, approachable, and intelligent AI study buddy, embodied by the adorable Corgi mascot. It takes the stress out of studying by delivering personalized quizzes and study help in a fun, engaging way.</p>

          <p class="lh-1 mb-3">Log in to start exploring or creating amazing quizzes!</p>
        </div>
      </div>
    </div>
  </section>
  <% end %>
</div>
