<!-- app/views/attempts/new.html.erb -->
<h1>Attempt Quiz: <%= @quiz.topic %></h1>

<%= form_with model: [@quiz, @attempt], url: quiz_attempts_path(@quiz), method: :post, class: 'needs-validation' do |f| %>
  <% @quiz.questions.each_with_index do |question, i| %>
    <div class="mb-3">
      <p class="font-weight-bold">Q <%= i + 1 %>) <%= question.content %></p>
      <p class="text-muted">select ONE</p>

      <% JSON.parse(question.options).each_with_index do |option, j| %>
        <div class="form-check">
          <label class="form-check-label">
            <%= f.fields_for :attempted_questions, @attempt.attempted_questions.build(question: question) do |attempted_question_fields| %>
              <input type="radio" 
                     name="attempt[attempted_questions_attributes][<%= i %>][user_answer]" 
                     value="<%= option %>" 
                     class="form-check-input" required>
              <%= ('a'.ord + j).chr %>) <%= option %>
              <%= attempted_question_fields.hidden_field :question_id, value: question.id %>
            <% end %>
          </label>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="text-center">
    <%= f.submit 'Submit Quiz Attempt', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>

