<!-- Use app/views/attempts/show.html.erb to display attempt details -->
<h2>Attempt Details</h2> <!--Section 0: displaying basic attempt attributes-->
<p><strong>Date:</strong> <%= @attempt.attempt_date %></p>
<p><strong>Time Taken:</strong> <%= @attempt.time_taken %> seconds</p>
<p><strong>Score:</strong> <%= @attempt.score %> out of <%=@original_questions_count %></p>
<% if @quiz.questions.count != @attempt.unchanged_questions.count %>
  <p>Note: Questions in this attempt differ from the latest version of the quiz (updated at <%= @quiz.updated_at %>).</p>
  <p>Compared to your attempt, the quiz has <%= pluralize(@quiz.questions.count, "question") %> with:</p>
  <ul>
    <% if @unchanged_questions.any? %>
      <li><%= pluralize(@unchanged_questions.count, "question") %> unchanged</li>
    <% end %>
    <% if @modified_questions.any? %>
      <li class="text-warning"><%= pluralize(@modified_questions.count, "question") %> edited</li>
    <% end %>
    <% if @new_questions.any? %>
      <li class="text-success"><%= pluralize(@new_questions.count, "question") %> added</li>
    <% end %>
    <% if @removed_questions.any? %>
      <li class="text-danger"><%= pluralize(@attempt.removed_questions.count, "question") %> removed</li>
    <% end %>
  </ul>
<%end%>
<h1>Attempt Details</h1>
<% if @quiz.questions.count == @unchanged_questions.count %>
  <% @attempt.attempted_questions.each_with_index do |attempted_question, i| %>
      <%= render 'question_card', question_index: i + 1, question_stem: attempted_question.question.content,
               question_options: attempted_question.question.options, user_answer: attempted_question.user_answer, correct: attempted_question.correct %>
  <% end %> 
<% else %> <!-- At least one of the Quiz questions was edited, deleted, or added after the quiz was made, use a collapsible accordion UI -->
    <% if @unchanged_questions.any? %>  
      <div class="accordion" id="unchangedQuestionsAccordion">
        <div class="card">
          <div class="card-header" id="headingUnchanged">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnchanged" aria-expanded="true" aria-controls="collapseUnchanged" id="unchangedButton">
              Show <%= @unchanged_questions.count %> Unchanged Questions
            </button>
          </div>
          <div id="collapseUnchanged" class="collapse" aria-labelledby="headingUnchanged" data-bs-parent="#unchangedQuestionsAccordion">
            <div class="card-body">
              <% @unchanged_questions.each_with_index do |attempted_question, i| %>
                <%= render 'question_card', question_index: i + 1, question_stem: attempted_question.question.content,
                 question_options: attempted_question.question.options, user_answer: attempted_question.user_answer, correct: attempted_question.correct %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div>
    <% if @modified_questions.any? %>  
      <div class="accordion" id="modifiedQuestionsAccordion">
        <div class="card">
          <div class="card-header" id="headingModified">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseModified" aria-expanded="true" aria-controls="collapseModified" id="modifiedButton">
              Show <%= @modified_questions.count %> Modified Questions
            </button>
          </div>
          <div id="collapseModified" class="collapse" aria-labelledby="headingModified" data-bs-parent="#modifiedQuestionsAccordion">
            <div class="card-body">
              <% @modified_questions.each_with_index do |modified_question, i| %>
                <%= render 'modified_question_card', question_index: i + 1, latest_question: modified_question.question, attempted_question_changes: modified_question %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <% if @removed_questions.any? %>  
      <div class="accordion" id="removedQuestionsAccordion">
        <div class="card">
          <div class="card-header" id="headingRemoved">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRemoved" aria-expanded="true" aria-controls="collapseRemoved" id="removedButton">
              Show <%= @removed_questions.count %> Removed Questions
            </button>
          </div>
          <div id="collapseRemoved" class="collapse" aria-labelledby="headingRemoved" data-bs-parent="#removedQuestionsAccordion">
            <div class="card-body">
              <% @removed_questions.each_with_index do |removed_question, i| %>
                <%= render 'question_card', question_index: i + 1, question_stem: removed_question.content,
                 question_options: removed_question.options, user_answer: removed_question.user_answer, correct: removed_question.correct %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @new_questions.any? %>  
      <div class="accordion" id="newQuestionsAccordion">
        <div class="card">
          <div class="card-header" id="headingNew">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNew" aria-expanded="true" aria-controls="collapseNew" id="newButton">
              Show <%= @new_questions.count %> New Questions
            </button>
          </div>
          <div id="collapseNew" class="collapse" aria-labelledby="headingNew" data-bs-parent="#newQuestionsAccordion">
            <div class="card-body">
              <% @new_questions.each_with_index do |new_question, i| %>
                <%= render 'question_card', question_index: i + 1, question_stem: new_question.content,
                 question_options: new_question.options, user_answer: nil, correct: nil %>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>


<%= link_to "Back to Quiz", quiz_path(@quiz), class: "btn btn-secondary" %>

<style>
  .selected-option {
    font-weight: bold;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
  document.addEventListener("DOMContentLoaded", function() {
    const toggleButtonText = (buttonId, count, sectionName) => {
      const button = document.getElementById(buttonId);
      const collapseElement = document.getElementById(buttonId.replace("Button", "Collapse"));
      const isCollapsed = collapseElement.classList.contains("show");

      if (isCollapsed) {
        button.innerHTML = `Hide ${count} ${sectionName} Questions`;
      } else {
        button.innerHTML = `Show ${count} ${sectionName} Questions`;
      }
    };

    // Attach event listeners to the buttons
    document.getElementById('unchangedButton').addEventListener('click', function() {
      toggleButtonText('unchangedButton', <%= @attempt.unchanged_questions.count %>, "Unchanged");
    });

    document.getElementById('modifiedButton').addEventListener('click', function() {
      toggleButtonText('modifiedButton', <%= @attempt.modified_questions.count %>, "Modified");
    });

    document.getElementById('removedButton').addEventListener('click', function() {
      toggleButtonText('removedButton', <%= @attempt.removed_questions.count %>, "Removed");
    });

    document.getElementById('newButton').addEventListener('click', function() {
      toggleButtonText('newButton', <%= @attempt.new_questions.count %>, "New");
    });
  });
</script>

